﻿<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Donation/DonationConstants.js"></script>
<script src="~/Scripts/Donation/EWAYSecureFields.js"></script>
<script src="~/Scripts/Donation/FormValidationFunction.js"></script>
<script src="~/Scripts/Donation/DonationFormFunctions.js"></script>
<script src="https://secure.ewaypayments.com/scripts/eWAY.min.js" data-init="false"></script>

<style>
.error{
    color: red;
}
#eway-secure-field-card, #eway-secure-field-cvn, #eway-secure-field-expiry, #eway-secure-field-name {
    height: 56px;
}    
</style>

<div class="jumbotron">
    <form id="DonationForm" method="post" action="">
        <h1>Donation</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Donator's detail:</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="CustomerEmail">Email*:</label>
                                <input class="form-control" type="email" id="CustomerEmail" name="CustomerEmail" placeholder="name@example.com" maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="CustomerPhone">Phone:</label>
                                <input class="form-control" type="text" id="CustomerPhone" name="CustomerPhone" maxlength="32">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="CustomerFirstName">First Name:</label>
                                <input class="form-control" type="text" id="CustomerFirstName" name="CustomerFirstName" maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="CustomerLastName">Last Name:</label>
                                <input class="form-control" type="text" id="CustomerLastName" name="CustomerLastName" maxlength="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="TotalAmount">Donate Amount*:</label>
                                <input class="form-control" type="text" id="TotalAmount" name="TotalAmount" maxlength="10">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Card Details:</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="eway-secure-field-name">Card Name:</label>
                                <div id="eway-secure-field-name"></div>
                                <div hidden id="nameError" class="alert alert-danger"><span id="nameErrorText"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="eway-secure-field-card">Card Number:</label>
                                <div id="eway-secure-field-card"></div>
                                <div hidden id="cardError" class="alert alert-danger"><span id="cardErrorText"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="eway-secure-field-expiry">Card Expiry:</label>
                                <div id="eway-secure-field-expiry"></div>
                                <div hidden id="expiryError" class="alert alert-danger"><span id="expiryErrorText"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="eway-secure-field-cvn">Card CVN:</label>
                                <div id="eway-secure-field-cvn"></div>
                                <div hidden id="cvnError" class="alert alert-danger"><span id="cvnErrorText"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="button" id="SubmitDonation" class="btn btn-primary btn-lg" data-loading-text="Submitting">Confirm Donate</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" id="securefieldcode" name="SecuredCardData" value="" />
        <input type="hidden" id="securefieldcodename" name="SecuredCardDataName" value="false" />
        <input type="hidden" id="securefieldcodecard" name="SecuredCardDataCard" value="false" />
        <input type="hidden" id="securefieldcodeexpiry" name="SecuredCardDataExpiry" value="false" />
        <input type="hidden" id="securefieldcodecvn" name="SecuredCardDataCvn" value="false" />
    </form>

    <div hidden id="thankYouPage" class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <hr>
    </div>    
    <div hidden id="warningMessage" class="alert"><span id="warningMessageText"></span></div>
</div>
